<div id="area-table">

</div>

<script>
        var area_table = new Tabulator('#area-table', {
            data: <%- JSON.stringify(area) %>,
            layout:"fitColumns",      //fit columns to width of table
                responsiveLayout:"hide",  //hide columns that dont fit on the table
                tooltips:true,            //show tool tips on cells
                addRowPos:"top",          //when adding a new row, add it to the top of the table
                history:true,             //allow undo and redo actions on the table
                pagination:"local",       //paginate the data
                paginationSize:20,         //allow 7 rows per page of data
                resizableRows:false,       //allow row order to be changed
                initialSort:[             //set the initial sort order of the data
                    {column:"type", dir:"asc"},
                ],
                columns:[                 //define the table columns
                {title:"Code", field:"CODE" },
                    {title:"Name", field:"NAME" },
                    {title:"Rate", field:"RATE" },
                    {title:"Description", field:"DESCRIPTION"},
                    {title:"Image", field:"REPRE_IMG"}
                ],  
        });
</script>