<div id="des-table" style="margin: 0px 20px 20px 20px"></div>
<div class="d-flex flex-row justify-content-around" style="margin-top: 20px;">
    <div class="insert">
        <button id="insert-des" type="button" class="btn btn-success" style="padding: 10px 30px">Insert</button>
    </div>
    <div class="edit">
        <button id="edit-des" type="button" class="btn btn-info" style="padding: 10px 30px">Edit</button>
    </div>
    <div class="delete">
        <button id="remove-des" type="button" class="btn btn-danger" style="padding: 10px 30px">Delete</button>
    </div>
</div> 

<script>
        console.log(<%- JSON.stringify(des) %>)
        var des_table = new Tabulator('#des-table', {
            data: <%- JSON.stringify(des) %>,
            layout:"fitColumns",      //fit columns to width of table
            height: "300px",
            responsiveLayout:true,  //hide columns that dont fit on the table
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            resizableRows:false,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"type", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"ID", field:"ID" },
                {title:"Area", field:"KHUVUC" },
                {title:"Name", field:"TENDD" },
                {title:"Address", field:"DIACHI"},
                {title:"Phone", field:"SDT"},
                {title:"Rate", field:"RATE" },
                {title:"Description", field:"DESCRIPTION" },
                {title:"Available", field:"AVAILABLE"},
                {title:"Time Suggest", field:"TIMESUGGEST"},
            ],  
    });
</script>