<div id="des-table">

</div>

<script>
        console.log(<%- JSON.stringify(des) %>)
        var des_table = new Tabulator('#des-table', {
            data: <%- JSON.stringify(des) %>,
            
            layout:"fitColumns",      //fit columns to width of table
                responsiveLayout:true,  //hide columns that dont fit on the table
                tooltips:true,            //show tool tips on cells
                addRowPos:"top",          //when adding a new row, add it to the top of the table
                history:true,             //allow undo and redo actions on the table
                pagination:"local",       //paginate the data
                paginationSize:20,         //allow 7 rows per page of data
                resizableRows:false,       //allow row order to be changed
                initialSort:[             //set the initial sort order of the data
                    {column:"type", dir:"asc"},
                ],
                columns:[                 //define the table columns
                    {title:"ID", field:"ID" },
                    {title:"Area", field:"KHUVUC" },
                    {title:"Name", field:"TENDD" },
                    {title:"Address", field:"DIACHI"},
                    {title:"Phone", field:"SDT"},
                    {title:"Rate", field:"RATE" },
                    {title:"Description", field:"DESCRIPTION" },
                    {title:"Available", field:"AVAILABLE"},
                    {title:"Time Suggest", field:"TIMESUGGEST"},
                ],  
        });
</script>