<div id="user-table">

</div>

<script>
        var user_table = new Tabulator('#user-table', {
            data: <%- JSON.stringify(user) %>,
            layout:"fitDataStretch",      //fit columns to width of table
                responsiveLayout:"hide",  //hide columns that dont fit on the table
                tooltips:true,            //show tool tips on cells
                addRowPos:"top",          //when adding a new row, add it to the top of the table
                history:true,             //allow undo and redo actions on the table
                pagination:"local",       //paginate the data
                paginationSize:20,         //allow 7 rows per page of data
                resizableRows:false,       //allow row order to be changed
                initialSort:[             //set the initial sort order of the data
                    {column:"type", dir:"asc"},
                ],
                columns:[                 //define the table columns
                {title:"Username", field:"username" },
                    {title:"Name", field:"fullname" },
                    {title:"Email", field:"email" },
                    {title:"DoB", field:"dob"},
                    {title:"Type", field:"type"},
                    {title:"Google Account", field: "google"}
                ],  
        });
</script>