<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary</title>		
    
    <!-- favicon img -->
    <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--s Slick slider -->
    <link href="assets/css/slick.css" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="/css/plan.css" rel="stylesheet">

    <!-- Fonts -->

    <!-- Open Sans for body font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
	<!-- Montserrat for title -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <!-- Start Header -->
    <header id="mu-hero" class="" role="banner">
        <!-- Start menu  -->
        <nav class="navbar navbar-fixed-top navbar-default mu-navbar">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="index.html">Travel Itinerary</a>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="#mu-hero">Home</a></li>
                        <li><a href="#mu-about">About Destination</a></li>
                        <li><a href="#mu-schedule">Schedule</a></li>
                        <li><a href="#mu-speakers">Speakers</a></li>
                        <li><a href="#mu-pricing">Price</a></li>
                        <li><a href="#mu-register">Register</a></li>
                        <li><a href="#mu-sponsors">Sponsors</a></li>
                        <li><a href="#mu-contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End menu -->

        <div class="mu-hero-overlay">
            <div class="container">
                <div class="mu-hero-area">

                    <!-- Start hero featured area -->
                    <div class="mu-hero-featured-area">
                        <!-- Start center Logo -->
                        <div class="mu-logo-area">
                            <!-- text based logo -->
                            <!-- <a class="mu-logo" href="#">Eventoz</a> -->
                            <!-- image based logo -->
                            <a class="mu-logo" href="#"><img src="/assets/images/logo.png"></a>
                        </div>
                        <!-- End center Logo -->

                        <div class="mu-hero-featured-content">
                            <h1>WELCOME TO</h1>
                            <h2> TRAVEL-ITINERARY </h2>
                            <p class="mu-event-date-line">19 - 21 Tháng 2, 2021. Đà Lạt, Việt Nam</p>
                            <div class="mu-event-counter-area">
                                <div id="mu-event-counter">

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End hero featured area -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Start main content -->
    <main role="main">
        <!-- Start About -->
        <section id="mu-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-about-area">
                            <!-- Start Feature Content -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mu-about-left">
                                        <img class="" src="assets/images/about.jpg" alt="Men Speaker">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-about-right">
                                        <h2>Đà Lạt</h2>
                                        <p>Đà Lạt – Thiên đường sống ảo cực chất quanh năm muôn hoa đua nở khí hậu mát mẻ tràn ngập cả phố hoa. Thành phố Đà Lạt không chỉ là nơi bình yên nghỉ dưỡng tham quan nổi tiếng. Mà còn là những trải nghiệm đầy sắc màu tươi sáng và ngày càng đổi mới nhờ đó mà người người đã nghĩ ra được nhiều cảm hứng sáng tạo mới mẻ một số địa điểm cực chất cũng từ đó mà ra đời.</p>

                                        <p>Do được thiên nhiên ưu  đãi về khí hậu cũng như sự sáng tạo tuyệt vời của con người nên thành phố mùa xuân có các địa điểm nổi tiếng mà không một nơi nào tại Việt Nam có thể sánh được. Nếu muốn tới ngắm các thắng cảnh tuyệt đẹp này bạn nên đặt khách sạn trước khi tới để tránh hết phòng vào những dịp lễ tết.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Feature Content -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->

        <!-- Start Video -->
        <iframe width="100%" height="700" src="https://www.youtube-nocookie.com/embed/Hsvy0Grcv1Y">
        </iframe>
        <!-- End Video -->
        
        <!-- Start Schedule  -->
        <section id="mu-schedule">
            <div class="container">
                <div class="row">
                    <div class="colo-md-12">
                        <div class="mu-schedule-area">

                            <div class="mu-title-area">
                                <h2 class="mu-title">Lịch trình chi tiết</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                            </div>

                            <div class="mu-schedule-content-area">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mu-schedule-menu" role="tablist">
                                    <li role="presentation" class="active"><a href="#first-day" aria-controls="first-day" role="tab" data-toggle="tab">1 Day / 19 Feb</a></li>
                                    <li role="presentation"><a href="#second-day" aria-controls="second-day" role="tab" data-toggle="tab">2 Day / 20 Feb</a></li>
                                    <li role="presentation"><a href="#third-day" aria-controls="third-day" role="tab" data-toggle="tab">3 Day / 21 Feb</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content mu-schedule-content">
                                    <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="first-day">
                                        <ul>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">5.00 AM</p>
                                                    <h3>Dậy sớm tập thể dục</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-1.jpg" alt="event speaker">
                                                    <p class="mu-event-time">8.00 AM</p>
                                                    <h3>Ăn sáng</h3>
                                                    <span>bánh căn Cây Bơ</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-2.jpg" alt="event speaker">
                                                    <p class="mu-event-time">9.30 AM</p>
                                                    <h3>Tham quan</h3>
                                                    <span>DaLat Milk Farm</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-3.jpg" alt="event speaker">
                                                    <p class="mu-event-time">12.00 AM</p>
                                                    <h3>Uống cafe</h3>
                                                    <span>Mê Linh Coffee Garden</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-4.jpg" alt="event speaker">
                                                    <p class="mu-event-time">2.00 PM</p>
                                                    <h3>Ăn trưa</h3>
                                                    <span>Pún Pò Huế Minh Lâm</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/des-5.jpg" alt="event speaker">
                                                    <p class="mu-event-time">3.00 PM</p>
                                                    <h3>Tham quan</h3>
                                                    <span>Thiền viện Trúc Lâm </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/des-6.jpg" alt="event speaker">
                                                    <p class="mu-event-time">4.00 PM</p>
                                                    <h3>Tham quan</h3>
                                                    <span>hồ Tuyền Lâm</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">5.00 PM</p>
                                                    <h3>Dìa nhà tắm rửa</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/des-7.jpg" alt="event speaker">
                                                    <p class="mu-event-time">6.30 PM</p>
                                                    <h3>Ăn tối</h3>
                                                    <span>BBQ No.1</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/des-8.jpg" alt="event speaker">
                                                    <p class="mu-event-time">8.30 PM</p>
                                                    <h3>Ăn khuya</h3>
                                                    <span>Ăn hết chợ Đà Lạt thì thôi</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade mu-event-timeline" id="second-day">
                                        <ul>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">9.00 AM</p>
                                                    <h3>Breakfast</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-1.jpg" alt="event speaker">
                                                    <p class="mu-event-time">10.00 AM</p>
                                                    <h3>Advanced SVG Animations</h3>
                                                    <span>By Karl Groves</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-2.jpg" alt="event speaker">
                                                    <p class="mu-event-time">11.00 AM</p>
                                                    <h3>Presenting Work with Confidence</h3>
                                                    <span>By Sarah Dransner</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-3.jpg" alt="event speaker">
                                                    <p class="mu-event-time">12.00 AM</p>
                                                    <h3>Keynote on UX & UI Design</h3>
                                                    <span>By Ned Stark</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">1.00 PM</p>
                                                    <h3>The End</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade mu-event-timeline" id="third-day">
                                        <ul>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">9.00 AM</p>
                                                    <h3>Breakfast</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-1.jpg" alt="event speaker">
                                                    <p class="mu-event-time">10.00 AM</p>
                                                    <h3>Advanced SVG Animations</h3>
                                                    <span>By Karl Groves</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-2.jpg" alt="event speaker">
                                                    <p class="mu-event-time">11.00 AM</p>
                                                    <h3>Presenting Work with Confidence</h3>
                                                    <span>By Sarah Dransner</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <img src="assets/images/speaker-3.jpg" alt="event speaker">
                                                    <p class="mu-event-time">12.00 AM</p>
                                                    <h3>Keynote on UX & UI Design</h3>
                                                    <span>By Ned Stark</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mu-single-event">
                                                    <p class="mu-event-time">1.00 PM</p>
                                                    <h3>The End</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Schedule -->

        <!-- Start Speakers -->
        <section id="mu-speakers">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-speakers-area">

                            <div class="mu-title-area">
                                <h2 class="mu-title">Các địa điểm</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                            </div>

                            <!-- Start Speakers Content -->
                            <div class="mu-speakers-content">

                                <div class="mu-speakers-slider">

                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/speaker-1.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Bánh căn Cây Bơ</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->

                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/speaker-2.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>DaLat Milk Farm</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->


                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/speaker-3.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Mê Linh Coffee Garden</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->


                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/speaker-4.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Bún Bò Huế Minh Lâm</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->

                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/des-5.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Thiền viện Trúc lâm</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->

                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/des-6.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Hồ Tuyền Lâm</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->


                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/des-7.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>BBQ No.1</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->


                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <img src="assets/images/des-8.jpg" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Chợ đêm Đà Lạt</h3>
                                        </div>
                                    </div>
                                    <!-- End single speaker -->
                                </div>
                            </div>
                            <!-- End Speakers Content -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Speakers -->

        <!-- Start Venue -->
        <section id="mu-venue">
            <div class="mu-venue-area">
                <div class="row">

                    <div class="col-md-6">
                        <div class="mu-venue-map">
                            <iframe src="https://www.google.com/maps/place/Dalat,+L%C3%A2m+%C4%90%E1%BB%93ng/data=!4m2!3m1!1s0x317112fef20988b1:0xad5f228b672bf930?sa=X&hl=en-US&ved=2ahUKEwjL8bXEy5jvAhUCK6YKHWkmCpwQ8gEwAHoECAQQAQ" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mu-venue-address">
                            <h2>Đà Lạt<i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
                            <h3>Orange County Convention Center</h3>
                            <h4>9800 International Dr, Orlando, FL 32819, USA</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem reiciendis incidunt accusantium porro amet repellendus hic corporis fugiat officiis, sequi iste distinctio possimus dignissimos, veniam quae delectus. Fuga, modi, perferendis!</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Venue -->

        <!-- Start Pricing  -->
        <section id="mu-pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-pricing-area">
                            
                            <div class="mu-title-area">
                                <h2 class="mu-title">Pricing plans</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                            </div>
                            
                            <div class="mu-pricing-conten">
                                <div class="row">
                                    
                                    <!-- single price item -->
                                    <div class="col-md-4">
                                        <div class="mu-single-price">

                                            <div class="mu-single-price-head">
                                                <span class="mu-currency">$</span>
                                                <span class="mu-rate">12</span>
                                                <span class="mu-time">/all days</span>
                                            </div>
                                            <h3 class="mu-price-title">BASIC</h3>
                                            <ul>
                                                <li>Basic Class Ticket</li>
                                                <li>Access to all sessions</li>
                                                <li>Free Breakfast</li>
                                            </ul>
                                            <a class="mu-register-btn" href="#"> Register Now</a>
                                        </div>
                                    </div>
                                    <!-- / single price item -->

                                    <!-- single price item -->
                                    <div class="col-md-4">
                                        <div class="mu-single-price mu-popular-price">
                                            <span class="mu-price-tag">Popular</span>
                                            <div class="mu-single-price-head">
                                                <span class="mu-currency">$</span>
                                                <span class="mu-rate">22</span>
                                                <span class="mu-time">/all days</span>
                                            </div>
                                            <h3 class="mu-price-title">STANDARD</h3>
                                            <ul>
                                                <li>Basic Class Ticket</li>
                                                <li>Access to all sessions</li>
                                                <li>Free Breakfast</li>
                                            </ul>
                                            <a class="mu-register-btn" href="#"> Register Now</a>
                                        </div>
                                    </div>
                                    <!-- / single price item -->

                                    <!-- single price item -->
                                    <div class="col-md-4">
                                        <div class="mu-single-price">

                                            <div class="mu-single-price-head">
                                                <span class="mu-currency">$</span>
                                                <span class="mu-rate">45</span>
                                                <span class="mu-time">/all days</span>
                                            </div>
                                            <h3 class="mu-price-title">PREMIUM</h3>
                                            <ul>
                                                <li>Basic Class Ticket</li>
                                                <li>Access to all sessions</li>
                                                <li>Free Breakfast</li>
                                            </ul>
                                            <a class="mu-register-btn" href="#"> Register Now</a>
                                        </div>
                                    </div>
                                    <!-- / single price item -->

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing -->

        <!-- Start Register  -->
        <section id="mu-register">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-register-area">

                            <div class="mu-title-area">
                                <h2 class="mu-title">Register Form</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                            </div>

                            <div class="mu-register-content">
                                <form class="mu-register-form">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">                
                                                <input type="text" class="form-control" placeholder="Your Full Name" id="name" name="name" required="">
                                            </div>
                                        </div>

                                      <div class="col-md-6">
                                          <div class="form-group">                
                                              <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email" required="">
                                          </div>     
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">                
                                              <input type="text" class="form-control" placeholder="Your Phone Number" id="telephone" name="telephone" required="">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          
                                      <div class="form-group"> 
                                          <select class="form-control" name="ticket" id="ticket">
                                              <option value="0">Basic ($12)</option>
                                              <option value="1">Standard ($22)</option>
                                              <option value="2">Premium ($45)</option>
                                          </select>
                                      </div>      
                                      </div>
                                  </div>

                                  <button type="submit" class="mu-reg-submit-btn">SUBMIT</button>

                              </form>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- End Register -->

      <!-- Start FAQ -->
      <section id="mu-faq">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="mu-faq-area">

                          <div class="mu-title-area">
                              <h2 class="mu-title">FAQ</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint assumenda ut molestias doloremque ipsam, fugit laborum totam, pariatur est cumque at, repudiandae officia ex dolores quas minus optio, iusto soluta?</p>
                          </div>

                          <div class="mu-faq-content">

                              <div class="panel-group" id="accordion">

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                          <span class="fa fa-angle-down"></span> Lorem ipsum dolor sit amet.
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                    </div>
                                  </div>

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                          <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                    </div>
                                  </div>

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                          <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur. 
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                    </div>
                                  </div>

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                          <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing. 
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                    </div>
                                  </div>

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                          <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur. 
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                    </div>
                                  </div>


                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- End FAQ -->

    </main>
    <!-- End main content -->	

    <!-- Start footer -->
    <footer id="mu-footer" role="contentinfo">
            <div class="container">
                <div class="mu-footer-area">
                    <div class="mu-footer-top">
                        <div class="mu-social-media">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="mu-footer-bottom">
                        <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right reserved.</p>
                    </div>
                </div>
            </div>

    </footer>
    <!-- End footer -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <!-- Event Counter -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="assets/js/app.js"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="assets/js/custom.js"></script>

</body>
</html>