<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All destinations</title>

    <!--CSS-->
    <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet"  href="/css/datepicker.css" >
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootsnav.css"/>
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8dea7ea670.js" crossorigin="anonymous"></script>
 
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
    <!--Include header-->
    <%- include('../partial/header', { auth: auth, user: user }) %>

    
    <!--Include footer-->
    <%- include('../partial/footer') %>
    <!--Script for header-->
    <script src="/js/jquery.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/jquery.filterizr.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script  src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script  src="/js/datepicker.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>