<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #menu-item:before {
            all: unset;
        }
        #sign-out:before {
            all:unset;
        }
        .header-area
        {
            background-color:black;

        }
        .countries
        {
            margin-top: 20px;
        }

        #searchFieldText {
            margin-top: 100px;
        }
    </style>
    
    <title>All destinations</title>

    <!--CSS-->
    <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet"  href="/css/datepicker.css" >
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootsnav.css"/>
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <link rel="stylesheet" href="./responsive.css" />
    <style>
    @font-face {font-family: 'Lato'; font-weight: 400; font-style: normal; font-display: swap; src: local('Lato Regular'), local('Lato-regular'), url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff2') format('woff2'), url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff') format('woff'), url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.ttf') format('truetype');}
    @font-face {font-family: 'Lato'; font-weight: 400; font-style: italic; font-display: swap; src: local('Lato Italic'), local('Lato-italic'), url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff2') format('woff2'), url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff') format('woff'), url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.ttf') format('truetype');}
    @font-face {font-family: 'Lato'; font-weight: 700; font-style: normal; font-display: swap; src: local('Lato Bold'), local('Lato-700'), url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff2') format('woff2'), url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff') format('woff'), url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.ttf') format('truetype');}
    </style>
    <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.7/res/css/commoncss.css'>
    <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.7/res/css/countries.css'>
    <link rel="canonical" href="https://travel-itinerary-bmtp.herokuapp.com">

    <!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8dea7ea670.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
    <!--Include header-->
    <%- include('../partial/header', { auth: auth, user: user }) %>

    <div class="page-content countries-content clear  " id="pageContent">
        <input id="searchFieldText" class="search-field shaded" type="text" name="search" placeholder="Search for destinations or attractions" value=""/>
        <div class="countries">
            <h1>Danh sách những khu vực của Việt Nam</h1>
            <ul class="clearfix">
                <% for (var i = 0; i < des.length; i++) { %>
                    <li><a href = "<%= `/destinations/${des[i].CODE}` %>"> <%= des[i].NAME %></a></li>
                <% } %>
            </ul>
        </div>
    </div>

    <!--Include footer-->
    <%- include('../partial/footer') %>
    <!--Script for header-->
    <script src="/js/jquery.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/jquery.filterizr.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script  src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script  src="/js/datepicker.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html> 